
/* Monteserat  */

@font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-Light.eot');
    src: url('./Monteserat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-Light.woff2') format('woff2'),
        url('./Monteserat/Montserrat-Light.woff') format('woff'),
        url('./Monteserat/Montserrat-Light.ttf') format('truetype'),
        url('./Monteserat/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-Regular.eot');
    src: url('./Monteserat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-Regular.woff2') format('woff2'),
        url('./Monteserat/Montserrat-Regular.woff') format('woff'),
        url('./Monteserat/Montserrat-Regular.ttf') format('truetype'),
        url('./Monteserat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-Medium.eot');
    src: url('./Monteserat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-Medium.woff2') format('woff2'),
        url('./Monteserat/Montserrat-Medium.woff') format('woff'),
        url('./Monteserat/Montserrat-Medium.ttf') format('truetype'),
        url('./Monteserat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-SemiBold.eot');
    src: url('./Monteserat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-SemiBold.woff2') format('woff2'),
        url('./Monteserat/Montserrat-SemiBold.woff') format('woff'),
        url('./Monteserat/Montserrat-SemiBold.ttf') format('truetype'),
        url('./Monteserat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-Bold.eot');
    src: url('./Monteserat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-Bold.woff2') format('woff2'),
        url('./Monteserat/Montserrat-Bold.woff') format('woff'),
        url('./Monteserat/Montserrat-Bold.ttf') format('truetype'),
        url('./Monteserat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Monteserat/Montserrat-Black.eot');
    src: url('./Monteserat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('./Monteserat/Montserrat-Black.woff2') format('woff2'),
        url('./Monteserat/Montserrat-Black.woff') format('woff'),
        url('./Monteserat/Montserrat-Black.ttf') format('truetype'),
        url('./Monteserat/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Montserrat';
}

