.mainbg {
    background-image: url("../../../assets/images/mainbg.png");
    // position: relative;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .navbar {
        z-index: 2;
    }
}

.btn {
    color: #FFFFFF;
    border: none;
    border-radius: 43px;
    width: 200px;
    height: 55px;
    margin-right: 20px;

    &:hover {
        background-color: #F1F1F1;
        color: #000000;
    }
}

.orange {
    background-color: #FF8600;
}

.yellow {
    background-color: #FFCF00;
}

.offwhite {
    background-color: #F1F1F1;
    color: #000000;

}

// .mainbg::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.8); 
//     z-index: 1;
//   }
.nav-link {
    color: white;

    &:hover {
        color: #FF8600 !important;
    }

    &:active {
        color: #FF8600 !important;
    }
}

.main-heading {
    h1 {
        color: #FFFFFF;
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
    }

    p {
        color: #FFFFFF;
        font-size: 22px;
        font-weight: 600;
    }


}

.main-div {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -70px;

    .col-12 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .text {
            p {
                text-align: center;
                color: #FF8600;
                font-size: 20px;
                font-weight: 600;
            }

            h2 {
                color: #000000;
                font-size: 40px;
                text-align: center;
                font-weight: 600;

            }
        }
    }
}

.scrollable-container {
    overflow-x: auto;
    white-space: nowrap;
    width: 80%;
    height: 100px;
    scrollbar-width: none;
}

.group-btn {
    display: inline-block;

}

// lorem section
.lorem-section {
    background-image: url("../../../assets/images/carimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 0;

    .heading-sec {
        h1 {
            color: #FFFFFF;
            font-size: 40px;
            font-weight: 600;
        }
        p{
            color: #FFCF00;
            font-size: 20px;
            font-weight: 600;
        }
    }

    .setting {
        p {
            margin: 0;
        }
    }
}