@import "../../assets/css/common";

.mt-6r {
  margin-top: 8rem !important;

  @media (max-width:992px) {
    margin-top: 4rem !important;
  }

  @media (max-width:768px) {
    margin-top: 2rem !important;
  }
}

.mainbg {
  position: relative;
  background-image: url("../../assets/images/mainbg.png");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 991px) {
    height: 100vh;
  }

  @media (max-width: 768px) {
    height: 75vh;
  }
}

.mainbg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  z-index: 1;

}

.mainbg>* {
  position: relative;
  z-index: 2;

}

.navbar {
  z-index: 3;
}

.btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  border-radius: 43px;
  padding: 30px 60px;
  margin-right: 20px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  cursor: pointer;
  white-space: nowrap;
  
}
@media (max-width: 768px) {
  .btn {
    
    padding: 15px 30px;
  }
}

.btn:hover {
  background-color: #f1f1f1;
  color: #000000;
}

.orange {
  background-color: #ff8600;
  
}

.yellow {
  background-color: #ffcf00;
}

.offwhite {
  background-color: #f1f1f1;
  color: #000000;
  .offwhite:hover {
    background-color: #ff8600;
    color: white;
  }

}
.offwhite.active {
  background-color: #ff8600 !important;
  color: #ffffff !important;
}



.nav-link {
  color: white;

  &.active {
    color: #ff8600 !important;
  }

  &:hover {
    color: #ff8600 !important;
  }

  &:active {
    color: #ff8600 !important;
  }
}

.main-heading {
  h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;

    @media (max-width:991px) {
      font-size: 40px;
      line-height: 40px;
    }

    @media (max-width:768px) {
      font-size: 30px;
      line-height: 35px;
    }

    @media (max-width:458px) {
      font-size: 26px;
      line-height: 35px;
    }

  }

  // .btn {
  //   @media (max-width:458px) {
  //     color: #ffffff;
  //     border: none;
  //     border-radius: 43px;
  //     padding: 10px 20px;
  //     margin-right: 20px;
  //   }

  //   @media (max-width:320px) {
  //     color: #ffffff;
  //     border: none;
  //     border-radius: 43px;
  //     width: 130px;
  //     height: 50px;
  //     margin-right: 20px;
  //   }
  // }

  p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
  }

  @media (max-width: 786px) {
    p {
      font-size: 15px !important;

    }

    h2 {
      font-size: 25px;
    }
  }
}

.main-div {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: -70px;
  position: relative;
  z-index: 1;

  @media (max-width: 991px) {
    margin-top: 70px;
  }

  .col-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
      p {
        text-align: center;
        color: #ff8600;
        font-size: 20px;
        font-weight: 600;
      }

      h2 {
        color: #000000;
        font-size: 40px;
        text-align: center;
        font-weight: 600;
      }

      @media (max-width: 786px) {
        p {
          font-size: 15px !important;

        }

        h2 {
          font-size: 20px;
        }
      }
    }
  }
}

// .scrollable-container {
//   overflow-x: auto;
//   width: 70%;
//   height: 100px;
//   scrollbar-width: none;
// }
.scrollable-container {
  overflow-x: auto;
  width: 80%;
  height: 100px;
  scrollbar-width: none;
  white-space: nowrap;
}

.button-container {
  display: inline-block;
}

.img-text {
  color: rgba(12, 50, 39, 0.5);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.work_text {
  color: #0C3227;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  margin-bottom: 40px;
}

.group-btn {
width: 100%;
text-align: center;

  @media (max-width:458px) {
    display: flex;
    align-items: center;

    .btn {
      color: #ffffff;
      border: none;
      border-radius: 43px;
      padding: 10px 20px;
      margin-right: 20px;
    }
  }

  @media (max-width:320px) {
    display: flex;
    align-items: center;

    .btn {
      color: #ffffff;
      border: none;
      border-radius: 43px;
      padding: 10px 20px;
      margin-right: 20px;
    }
  }
}

// lorem section
.lorem-section {
  background-color: #ff8600;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  .heading-sec {
    h1 {
      color: #ffffff;
      font-size: 40px;
      font-weight: 600;

      @media (max-width:991px) {
        font-size: 32px;
      }

      @media (max-width:768px) {
        font-size: 28px;
      }
    }

    p {
      color: #ffcf00;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .setting {
    p {
      margin: 0;
    }
  }

  .carimg {
    height: 500px;

    @media (max-width:768px) {
      height: 350px;
    }
  }
}

.video-sec {
  .truck-text {
    h6 {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: #ff8600;
    }

    h2 {
      font-size: 40px;
      font-weight: 600;
      line-height: 46px;
      max-width: 69%;
      color: #0c3227;

      @media (max-width:991px) {
        font-size: 32px;
      }

      @media (max-width:768px) {
        font-size: 26px;
        line-height: 36px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      max-width: 75%;

      @media (max-width:991px) {
        font-size: 16px;
      }
    }
  }
}

.transwego-sec {
  background-image: url("../../assets/images/twago-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 1rem;

  @media (max-width:768px) {
    padding: 2rem 1rem;
  }

  .truck-text {
    h2 {
      font-size: 40px;
      font-weight: 600;
      line-height: 46px;
      color: #ffffff;

      @media (max-width:768px) {
        font-size: 30px;
      }
    }

    p {
      font-size: 22px;
      font-weight: 400;
      line-height: 36px;
      color: #ffffff;

      @media (max-width:768px) {
        font-size: 18px;
      }
    }
  }

  .mbl-img {
    width: 198px;
    height: 386px;

    @media (max-width:768px) {
      width: 198px;
      height: 286px;
      object-fit: contain;
      text-align: center;
    }
  }
}

// client sec
.client-sec {
  .img-office {
    @media (max-width:768px) {
      height: 202px;
      width: 737px;
    }

    @media (max-width:458px) {
      height: 232px;
      width: 837px;
    }

  }

  .left-sec {
    background-color: #0C3227;
    padding: 40px 30px;
    border-radius: 33px;
    margin-left: -60px;

    @media (max-width:992px) {
      padding: 20px 20px;
      border-radius: 33px;
      margin-left: -60px;
    }

    @media (max-width:768px) {
      padding: 10px 20px;
      border-radius: 33px;
      margin-left: -30px;
    }

    @media (max-width:458px) {
      padding: 10px 20px;
      border-radius: 33px;
      margin-left: -20px;
    }

    .textlorem {
      color: #F8F8F8;
      font-size: 26px;

      @media (max-width:992px) {
        font-size: 14px;
      }

      @media (max-width:458px) {
        font-size: 12px;
      }
    }

    .john {
      font-size: 26px;
      color: #F8F8F8;
      margin-top: 10;
      margin-bottom: 10;

      @media (max-width:992px) {
        font-size: 16px;
      }

      @media (max-width:458px) {
        font-size: 12px;
      }
    }

    .founder {
      font-size: 26px;
      color: #FF8600;

      @media (max-width:992px) {
        font-size: 14px;
      }

      @media (max-width:458px) {
        font-size: 12px;
      }
    }

    .starimg {
      display: flex;
      gap: 10px;
      width: 30px;
      height: 30px;
      margin-top: 10px;
      margin-bottom: 8px;

      @media (max-width:992px) {
        width: 15px;
        height: 15px;
      }
    }
  }
}

.premium-sec {
  .text {
    @media (max-width:458px) {
      font-size: 16px;
    }

    @media (max-width:320px) {
      font-size: 14px;
    }
  }

  .lorem {
    @media (max-width:458px) {
      font-size: 20px;
    }

    @media (max-width:320px) {
      font-size: 16px;
    }
  }
}

.button-group {
  @media (max-width:320px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  .btn {
    @media (max-width:768px) {
      color: #ffffff;
      border: none;
      border-radius: 43px;
      padding: 10px 20px;
      margin-right: 10px;
      font-size: 12px;
    }

    @media (max-width:458px) {
      color: #ffffff;
      border: none;
      border-radius: 43px;
      padding: 10px 20px;
      margin-right: 10px;
      font-size: 12px;
    }

    @media (max-width:320px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      justify-content: center;
      color: #ffffff;
      border: none;
      border-radius: 25px;
      width: 140px;
      height: 50px;
      margin-right: 10px;
      font-size: 10px;
    }
  }
}

.future-sec {
  background-color: #ff8600;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .truck {
    max-width: 749px;

    @media (max-width:992px) {
      max-width: 400px;
    }

    @media (max-width:768px) {
      max-width: 300px;
    }
  }

  .text-heading-truck {
    color: #FFF;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;

    @media (max-width:992px) {
      font-size: 40px;
    }

    @media (max-width:768px) {
      font-size: 30px;
      line-height: 40px;
    }

    @media (max-width:657px) {
      font-size: 25px;
      line-height: 40px;
    }
  }
}

.section-6 {
  background-color: #ff8600;

  .col-md-6 {
    background-image: url("../../assets/images/truck1.png");
    padding: 0%;
    margin: 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// how it works start
// sec 2
.section-heading {
  color: #FFF;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 46px;

}
@media (max-width: 768px) {
  .section-heading {
  font-size: 25px !important;
  line-height: 26px;
}
}
.section-2 {
  align-items: center;

  

  .heading {
    background-color: #EBEBEB;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
   .bgColor {
    background-color: #EBEBEB;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

 
  .active{
    background-color: #ff8600;
  }
}

// sec 3
.innertext {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h6 {
    color: #FF8600;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  h2 {
    color: #0c3227;
    font-size: 40px;
    font-weight: 700;
  }

  p {
    color: #969696;
    font-size: 16px;
  }

  .custom-btn {
    max-width: 50%;
  }
  @media (max-width:992px) {
    .custom-btn {
      max-width: unset;
      margin-bottom: 10px;
    }
    h2 {
    font-size: 20px;
    }
  }
}

.section-2 {
  background-color: "#0C3227";
  padding: 30px;
  height: 200;

}



.Sharing_para {
  color: #FFF;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%
}

// landing page start
.landingPage {
  background-image: url(../../assets/images/landing-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  height: 100%;
  background-color: #0C3227;

  .btn {
    background-color: #f5851f;
    border: none;
    color: #FFF;


    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;


    &:hover {
      background-color: darken(#f5851f, 10%);
    }
  }

  .logo {
    padding-top: 56px;
    text-align: center;

    h3 {
      color: #f5851f;
      font-size: 2rem;
      font-weight: 600;
      margin-top: 67px;
    }

    h1 {
      color: #fff;
      font-size: 3.5rem;
      font-weight: 600;
    }

    p {
      color: #fff;
      font-size: 1.25rem;
      font-weight: 600;
      margin-top: 31px;
    }


  }

  .cardLanding {
    .card {
      border-radius: 31px;
      background: #fff;
      text-align: center;

      .card-body {
        height: auto;
        padding: 1.5rem;

        .card-title {
          color: #0c3227;
          font-family: 'Montserrat', sans-serif;
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 30px;


          @media (max-width: 768px) {
            white-space: wrap;
          }
        }

        .card-text {
          color: #969696;
          font-family: 'Montserrat', sans-serif;
          font-size: 1rem;
          font-weight: 600;
          margin-top: 32px;
        }

        .card-img {

          text-align: center;

          .truckyellow {
            width: 114px;
            height: 153px;


          }

          .mobilegroup {
            width: 221px;
            height: 183px;


          }

          .mobile2 {
            width: 117px;
            height: 200px;


          }
        }
      }
    }
  }

  .text {
    p {
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }

    .btn-join {
      margin-bottom: 4rem;

      .btn {
        background-color: #f5851f;
        border: none;
        color: #fff;
        padding: 10px 20px;

        &:hover {
          background-color: darken(#f5851f, 10%);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .landingPage {
    padding: 10px;
  }

  .logo {

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .cardLanding {
    .card {
      .card-body {
        padding: 1rem;
      }

      .card-title {
        font-size: 1.5rem;

      }

      .card-text {
        font-size: 0.875rem;
      }
    }
  }

  .text {
    p {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 576px) {
  .logo {
    padding-top: 20px;

    h3 {
      font-size: 1.5rem;
      margin-top: 20px;
    }

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }

    .btn {
      padding: 8px 16px;
    }
  }

  .cardLanding {
    .card {
      .card-body {
        padding: 0.75rem;
      }

      .card-title {
        font-size: 1.25rem;

      }

      .card-text {
        font-size: 0.75rem;
      }
    }
  }

  .text {
    p {
      font-size: 1rem;
    }

    .btn-join {
      .btn {
        padding: 8px 16px;
      }
    }
  }
}

.carousel-indicators {
  bottom: -56px;


}

.carousel-indicators [data-bs-target] {
  background-color: gray;
}

.carousel-indicators .active {
  background-color: #FF8600;
}

.Reserved {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4.2px;
}

.change-language {
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 30px;
  color: #FFF;

  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  p {
    color: #FFF;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
  }
}
.img_mobileGroup{
  max-width: 600px;
}
// modall
.custom-dropdown
{ position: absolute;
   top: 10px;
   
   @media (max-width: 768px) {
    top: 50px !important;
    right: 20px;
  }
   }


 

 

@media (max-width:992px) {
  .img_mobileGroup {
    max-width: -webkit-fill-available;
    margin-bottom: 10px;
  }}
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width:987px){
  .navbar-collapse{
    position: absolute;
    top: 50px;
    right: 0;
    left: 7px;
    background-color: rgb(0, 0, 0);
    padding: 20px 20px;
  }
}