.bg-color {
  // background-color:"#0C3227 !important";
  background-color: #0C3227;
  overflow-y: hidden;
  .mainBg-img {
    background-image: url("../../assets/images/bg-Img.png");

    background-repeat: no-repeat;
    background-size: cover;
height: fit-content;
    opacity: 10px;
height: 100vh;



  }

  .center-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 

  }

  .login-div {
    width: 400px;
    background-color: #ffff;
    padding: 50px 30px 20px 30px;
    border-radius: 30px;

    .Forgotten {
      color: #000;
      margin-top: 10px;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 14px;
    }

    .new-user {
      color: #000;

      margin-top: 50px;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;

    }

  }



}

.bg-company {
  margin: 40px 0px;

  .maindiv-input {
    background-color: #F8F8F8;
    margin-bottom: 7px;

  }

  .input-bg {
    background-color: #EFEFEF;
    padding: 10px 10px;
    border-radius: 30px;

    h3 {
      color: #4A6C62;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px;
      margin-top: 13px;
    }
  }

  .form-check {
    .form-check-input:checked {
      background-color: #FF8900 !important;
      border-color: #FF8900 !important;
    }

    .form-check-input:checked[type=checkbox] {}
  }

  h2 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
  }

  .upload-photo {
    border-radius: 19px;
    width: 148px;
    height: 117px;
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.add-driver {
  .driver-div {
    // width: 473px;
    background-color: #ffff;
    padding: 50px 30px 20px 30px;
    border-radius: 30px;

    .frame {
      display: flex;
      justify-content: end;
    }
  }

  .driver-clr {
    background-color: #EFEFEF;
    padding: 26px 15px;
    border-radius: 30px;
  }

}


